<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a4t4wmlv4">

    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:icon="@drawable/musicdp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".level3showdetails"></activity>
        <activity android:name=".level2timesup" />
        <activity android:name=".level2showdetails" />
        <activity android:name=".listview" />
        <activity android:name=".Showdetails" />
        <activity android:name=".Last" />
        <activity android:name=".mainMenu" />
        <activity android:name=".timesup" />
        <activity android:name=".CorrectAnswer01" />

        <service
            android:name=".PlayMusic"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".level01_Main" />
        <activity android:name=".level2_int3" />
        <activity android:name=".level01_complete" />
        <activity android:name=".level01score" />
        <activity android:name=".level01timesup" />
        <activity android:name=".level2_int1" />
        <activity android:name=".level2_int2" />
        <activity android:name=".level2" />
        <activity android:name=".next" />
        <activity android:name=".level1" />
        <activity android:name=".level03_int01" />
        <activity android:name=".level03_int02" />
        <activity android:name=".level03_int03" />
        <activity android:name=".level03_main" />
        <activity android:name=".level01Int2" />
        <activity android:name=".level01Int3" />
        <activity android:name=".level01int4" />
        <activity android:name=".level04Main" />
        <activity android:name=".level04S2" />
        <activity android:name=".level04_int04" />
        <activity android:name=".level04_int03" />
        <activity android:name=".level04_01" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>